openapi: 3.1.0
info:
  title: ZebraTruth Compliance API
  version: 1.0.0
  description: |
    AI-powered compliance checking for advertising content. Check text and images against
    jurisdiction laws, platform policies, and rights clearance requirements. Results include
    embeddable annotations mapped to content locations (text spans, video timestamps, image regions).
  contact:
    name: ZebraTruth Support
    email: support@zebratruth.ai
    url: https://developers.zebratruth.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.zebratruth.ai/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: Validate API keys and check account status
  - name: Compliance
    description: Run compliance checks on content
  - name: Agents
    description: Discover and invoke individual compliance agents
  - name: Jobs
    description: Poll async job status and view execution traces
  - name: Reports
    description: Retrieve and replay compliance reports
  - name: Observability
    description: Request logs and webhook delivery status

paths:
  /whoami:
    get:
      operationId: getWhoAmI
      summary: Validate API key
      description: Returns tenant info, tier, and credit balance for the authenticated API key.
      tags: [Authentication]
      responses:
        "200":
          description: Valid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhoAmIResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /usage:
    get:
      operationId: getUsage
      summary: Get credit usage
      description: Returns current credit balance, usage this period, and plan details.
      tags: [Authentication]
      responses:
        "200":
          description: Usage data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /compliance/check:
    post:
      operationId: runComplianceCheck
      summary: Run compliance check
      description: |
        Check content against jurisdiction laws, platform policies, and rights clearance.
        Supports three response modes: sync (block until complete), stream (SSE events per agent),
        and async (webhook callback on completion).

        **Request formats.** Accepts either `application/json` (the canonical format, full feature
        set including streaming and webhooks) or `multipart/form-data` (for uploading image binaries
        directly from a local file system). The multipart form is sync-only and bypasses the
        response cache (cache is keyed on text, so mixing image sets would return wrong results).

        **Tenant scoping.** Every request is scoped to your account's subscribed jurisdictions
        and platforms (set during onboarding at `https://developers.zebratruth.ai`). Requesting
        a jurisdiction or platform outside that set returns 403. See the
        [Tenant Onboarding and Scoping guide](/guides/tenant-onboarding-and-scoping).
      tags: [Compliance]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceCheckRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ComplianceCheckMultipartRequest"
            encoding:
              image:
                contentType: image/png, image/jpeg, image/webp, image/gif
      responses:
        "200":
          description: |
            Compliance report (sync mode). For stream mode, returns `text/event-stream`.
            For async mode, returns job info with poll URL.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ComplianceReport"
                  - $ref: "#/components/schemas/AsyncJobCreated"
            text/event-stream:
              schema:
                type: string
                description: SSE stream with agent.started, agent.completed, score, and complete events
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "403":
          $ref: "#/components/responses/TenantScopeDenied"
        "429":
          $ref: "#/components/responses/RateLimited"

  /compliance/check-image:
    post:
      operationId: checkImage
      summary: Check image rights
      description: |
        Dedicated image rights clearance. Checks for celebrity faces, logos, watermarks,
        trademarks, and C2PA metadata. Use this for image-only checks. For combined
        text + image checks, use `/compliance/check` with `content.imageUrls`.

        **Request formats.** Accepts either `application/json` (`imageUrls` referencing publicly
        accessible URLs) or `multipart/form-data` (upload up to 2 image binaries directly — use
        when you don't have a public URL handy). Total request body is capped at 4.5 MB.

        **Per-jurisdiction citations.** Citations on returned checks are composed from the laws
        applicable to the jurisdictions you requested. A celebrity detection with
        `jurisdictions: ["us"]` cites Cal. Civil Code § 3344 and NY Civil Rights Law; the same
        detection with `jurisdictions: ["eu", "uk"]` cites European personality rights and UK
        passing off. Trademark, copyright, and C2PA regulatory notes are similarly scoped.

        **Check statuses.** Stock watermarks return `status: "block"` (hard fail — unlicensed
        imagery); celebrity faces and brand logos return `status: "flag"` (review needed — may
        be licensed). See the [Image Rights Clearance guide](/guides/image-rights-clearance)
        for the full matrix.

        **Tenant scoping.** Every request is scoped to your account's subscribed jurisdictions
        and platforms. Requesting a jurisdiction or platform outside that set returns 403. See
        the [Tenant Onboarding and Scoping guide](/guides/tenant-onboarding-and-scoping).
      tags: [Compliance]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageCheckRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImageCheckMultipartRequest"
            encoding:
              image:
                contentType: image/png, image/jpeg, image/webp, image/gif
      responses:
        "200":
          description: Image compliance results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCheckResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "403":
          $ref: "#/components/responses/TenantScopeDenied"
        "429":
          $ref: "#/components/responses/RateLimited"

  /agents:
    get:
      operationId: listAgents
      summary: List available agents
      description: |
        Discover all available compliance agents. Agents are added regularly —
        always use this endpoint to discover dynamically rather than hardcoding agent IDs.
      tags: [Agents]
      responses:
        "200":
          description: List of available agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AgentDefinition"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /agents/{agentId}:
    post:
      operationId: invokeAgent
      summary: Invoke a single agent
      description: |
        Run a single compliance agent directly instead of the full pipeline.
        Useful for targeted re-checks or building custom workflows.
        Costs ~8-12 credits (1 agent x 3 LLM stages).
      tags: [Agents]
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ComplianceAgentId"
          description: The agent to invoke (use `GET /agents` to discover available IDs)
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentInvokeRequest"
      responses:
        "200":
          description: Agent result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "404":
          description: Agent not found
        "429":
          $ref: "#/components/responses/RateLimited"

  /compliance/jobs/{jobId}:
    get:
      operationId: getJobStatus
      summary: Poll job status
      description: Check the status of an async compliance check job.
      tags: [Jobs]
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          example: job_xyz789
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Job not found

  /compliance/jobs/{jobId}/trace:
    get:
      operationId: getJobTrace
      summary: Get agent execution trace
      description: |
        Detailed per-agent metrics for a job. Shows latency, tokens, cost, cache hits,
        and whether any agent was truncated.
      tags: [Jobs]
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agent traces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AgentTrace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Job not found

  /compliance/jobs/{jobId}/stream:
    get:
      operationId: resumeJobStream
      summary: Resume SSE stream
      description: |
        Reconnect to a streaming compliance check after a disconnect.
        Partial results are persisted server-side. The stream resumes from
        the next uncompleted agent.
      tags: [Jobs]
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
        - name: resumeFrom
          in: query
          required: false
          schema:
            type: string
          description: Resume from the agent after this one (last completed agentId)
          example: advertising-law
      responses:
        "200":
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string

  /reports/{reportId}:
    get:
      operationId: getReport
      summary: Get compliance report
      description: Retrieve a full compliance report by ID.
      tags: [Reports]
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Full compliance report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceReport"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Report not found

  /reports/{reportId}/replay:
    post:
      operationId: replayReport
      summary: Replay a compliance check
      description: |
        Re-run the exact same check to compare results (e.g., after a rules update).
        Creates a new job with a new budget reservation.
      tags: [Reports]
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: New job created from replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobCreated"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Original report not found

  /logs:
    get:
      operationId: queryLogs
      summary: Query request logs
      description: Search your API request history. Filter by external ID, date range, or status code.
      tags: [Observability]
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date
          description: Start date (ISO 8601)
          example: "2026-04-01"
        - name: until
          in: query
          schema:
            type: string
            format: date
          description: End date (ISO 8601)
        - name: externalId
          in: query
          schema:
            type: string
          description: Filter by your external reference ID
        - name: statusCode
          in: query
          schema:
            type: integer
          description: Filter by HTTP status code
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
          description: Max results to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        "200":
          description: Request logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RequestLog"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /webhooks/deliveries:
    get:
      operationId: getWebhookDeliveries
      summary: Get webhook delivery logs
      description: View webhook delivery attempts, including failed and dead-letter deliveries.
      tags: [Observability]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, delivered, failed, dead]
          description: Filter by delivery status
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Webhook delivery logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebhookDelivery"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /version:
    get:
      operationId: getVersion
      summary: Get engine version
      description: Returns current compliance engine version, rules version, and agent versions.
      tags: [Authentication]
      responses:
        "200":
          description: Version info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceVersionInfo"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        API key starting with `zt_live_` (production) or `zt_test_` (sandbox).
        Get your key at https://developers.zebratruth.ai

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: |
        Unique request identifier to prevent duplicate execution and double-charging.
        Generate a new UUID for each distinct request. Reuse the same key to safely retry.

  responses:
    Unauthorized:
      description: Invalid or expired API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Invalid API key
    BadRequest:
      description: Invalid request body
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              details:
                type: array
                items:
                  type: string
    InsufficientCredits:
      description: Not enough credits to process this request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Insufficient credits
              creditsRemaining:
                type: number
                example: 3
              creditsNeeded:
                type: number
                example: 47
              upgradeUrl:
                type: string
                format: uri
                example: https://developers.zebratruth.ai/billing/upgrade
    TenantScopeDenied:
      description: |
        The request asks for a jurisdiction or platform not in your subscription, or your
        tenant record is missing / incomplete. The human-readable reason is in the
        `statusMessage` and `message` fields (both carry the same string — `message` is
        the canonical field in the Nitro/h3 error envelope). Four possible messages:

        - **Not onboarded** — no tenant record exists yet.
          `"Tenant not onboarded. Complete setup at https://developers.zebratruth.ai before using the API."`
        - **Incomplete config** — tenant exists but has no default jurisdictions or platforms set.
          `"Tenant configuration incomplete. Set default jurisdictions and platforms in your dev portal."`
        - **Jurisdiction not subscribed** — request includes jurisdictions outside the subscription.
          `"Requested jurisdictions [india, china] are not in your subscription. Allowed: [us, eu]."`
        - **Platform not subscribed** — request includes platforms outside the subscription.
          `"Requested platforms [tiktok] are not in your subscription. Allowed: [youtube, instagram]."`

        Fix: either adjust the request to stay within the subscribed set, or update your
        defaults at `https://developers.zebratruth.ai/dashboard/settings`.
      content:
        application/json:
          schema:
            type: object
            description: Standard Nitro/h3 error envelope. Read `message` (or `statusMessage`) for the human-readable reason.
            required: [statusCode, message]
            properties:
              error:
                type: boolean
                description: Always `true` for error responses in the Nitro envelope.
                example: true
              url:
                type: string
                format: uri
                description: The URL that was requested.
                example: https://api.zebratruth.ai/v1/compliance/check
              statusCode:
                type: integer
                example: 403
              statusMessage:
                type: string
                description: Human-readable reason — same content as `message`.
                example: "Requested jurisdictions [india, china] are not in your subscription. Allowed: [us, eu]."
              message:
                type: string
                description: Canonical human-readable reason — pattern-match on this field in client code.
                example: "Requested jurisdictions [india, china] are not in your subscription. Allowed: [us, eu]."
    RateLimited:
      description: Too many requests
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Rate limit exceeded
              retryAfter:
                type: integer
                example: 5
              limit:
                type: integer
                example: 60
              remaining:
                type: integer
                example: 0

  schemas:
    # --- Enums ---

    ComplianceStatus:
      type: string
      enum: [pass, flag, block, escalate]
      description: |
        - `pass` — No issue found
        - `flag` — Issue found, review recommended
        - `block` — Critical issue, must fix
        - `escalate` — Needs human review

    ComplianceSeverity:
      type: string
      enum: [critical, high, medium, low, info]
      description: |
        - `critical` — Legal liability risk (-25 points)
        - `high` — Likely violation (-15 points)
        - `medium` — Potential issue (-8 points)
        - `low` — Minor concern (-3 points)
        - `info` — Informational only (0 points)

    ComplianceDecision:
      type: string
      enum: [PUBLISH, HOLD, BLOCK]
      description: |
        - `PUBLISH` — Score 80-100, safe to publish
        - `HOLD` — Score 60-79, or any high-severity flag
        - `BLOCK` — Score 0-59, or any critical-severity check

    ComplianceAgentId:
      type: string
      enum:
        - jurisdiction-detection
        - advertising-law
        - platform-policy
        - metadata-labeling
        - rights-clearance-text
        - rights-clearance-image
        - compliance-score
      description: Agent identifier. Use `GET /agents` to discover all available agents dynamically.

    AnnotationType:
      type: string
      enum: [text-span, timeline, image-region, global]

    # --- Request schemas ---

    ComplianceCheckRequest:
      type: object
      required: [jurisdictions, platforms, content, mode]
      properties:
        jurisdictions:
          type: array
          items:
            type: string
            enum: [us, eu, uk, india, china]
          description: Which jurisdiction laws to check against
          example: ["us", "eu"]
        platforms:
          type: array
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]
          description: Which platform policies to check
          example: ["youtube", "instagram"]
        content:
          type: object
          required: [text]
          properties:
            text:
              type: string
              description: The content to check (ad script, copy, description)
              example: "Try our guaranteed weight loss solution!"
            imageUrls:
              type: array
              items:
                type: string
                format: uri
              description: Image URLs for rights clearance (max 2). For image-only checks, use POST /compliance/check-image.
        mode:
          type: string
          enum: [fast, full]
          description: |
            - `fast` — All agents run in parallel (~12 credits)
            - `full` — 4-phase pipeline with content enrichment (~47 credits)
          example: fast
        responseMode:
          type: string
          enum: [sync, stream, async]
          default: sync
          description: |
            - `sync` — Block until complete, return full report
            - `stream` — SSE events per agent (progressive results)
            - `async` — Return immediately, deliver result via webhook
        webhookUrl:
          type: string
          format: uri
          description: Required for async mode — where to POST results
        callbackId:
          type: string
          description: Your correlation ID, echoed back in webhook payload
        externalId:
          type: string
          description: Your own reference ID, queryable in request logs

    ImageCheckRequest:
      type: object
      required: [imageUrls, jurisdictions, platforms]
      properties:
        imageUrls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 2
          description: Image URLs to check (max 2 per request)
        jurisdictions:
          type: array
          items:
            type: string
            enum: [us, eu, uk, india, china]
        platforms:
          type: array
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]

    ComplianceCheckMultipartRequest:
      type: object
      description: |
        Flat-field multipart form (Stripe/OpenAI-style). Send `jurisdictions` and `platforms`
        as repeated fields (one value per occurrence) — NOT as JSON arrays or comma-separated
        strings. The multipart path is sync-only: `responseMode`, `webhookUrl`, and
        `callbackId` are ignored. Cache is bypassed when `image` parts are present.
      required: [text, jurisdictions, platforms]
      properties:
        text:
          type: string
          description: The content to check (ad script, copy, description).
          example: "Try our guaranteed weight loss solution!"
        image:
          type: array
          maxItems: 2
          description: |
            Image binary, 0 to 2 parts. Repeat the `image` field for each file
            (e.g., `-F "image=@ad-1.png" -F "image=@ad-2.png"`). Total request body
            is capped at 4.5 MB by the Vercel platform.
          items:
            type: string
            format: binary
        jurisdictions:
          type: array
          description: Send as repeated fields — `-F "jurisdictions=us" -F "jurisdictions=eu"`
          items:
            type: string
            enum: [us, eu, uk, india, china]
        platforms:
          type: array
          description: Send as repeated fields — `-F "platforms=youtube" -F "platforms=instagram"`
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]
        mode:
          type: string
          enum: [fast, full]
          default: fast
          description: Execution mode. Streaming and async are not available on the multipart path.
        externalId:
          type: string
          description: Your own reference ID, queryable in request logs.

    ImageCheckMultipartRequest:
      type: object
      description: |
        Flat-field multipart form for uploading image binaries directly. At least one
        `image` part is required; maximum of 2. Total request body is capped at 4.5 MB.
      required: [image, jurisdictions, platforms]
      properties:
        image:
          type: array
          minItems: 1
          maxItems: 2
          description: |
            Image binary, 1 or 2 parts. Repeat the `image` field for each file
            (e.g., `-F "image=@ad-1.png" -F "image=@ad-2.png"`).
          items:
            type: string
            format: binary
        jurisdictions:
          type: array
          description: Send as repeated fields — `-F "jurisdictions=us" -F "jurisdictions=eu"`
          items:
            type: string
            enum: [us, eu, uk, india, china]
        platforms:
          type: array
          description: Send as repeated fields — `-F "platforms=youtube" -F "platforms=instagram"`
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]

    AgentInvokeRequest:
      type: object
      required: [jurisdictions, platforms, content]
      properties:
        jurisdictions:
          type: array
          items:
            type: string
            enum: [us, eu, uk, india, china]
        platforms:
          type: array
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]
        content:
          type: object
          required: [text]
          properties:
            text:
              type: string

    # --- Response schemas ---

    WhoAmIResponse:
      type: object
      properties:
        tenantId:
          type: string
          example: kp_a269d9695f734329a216669410731a21
        tier:
          type: string
          enum: [free, starter, pro, enterprise]
          example: free
        authType:
          type: string
          enum: [apikey, kinde, admin]
          description: How this caller authenticated. External API consumers always see `apikey`.
          example: apikey
        scopes:
          type: array
          items:
            type: string
          description: Scopes granted to this API key. `*` is a wildcard. Common values — `compliance:check`, `agents:*`, `reports:read`, `policies:read`, `webhooks:manage`, `logs:read`, `usage:read`.
          example: ["compliance:check", "agents:*", "reports:read", "policies:read"]
        rateLimit:
          type: integer
          description: Requests per minute allowed for this key on the current tier.
          example: 10

    UsageResponse:
      type: object
      properties:
        creditsRemaining:
          type: number
          example: 1420
        creditsTotal:
          type: number
          example: 1665
        creditsUsedThisMonth:
          type: number
          example: 245
        periodStart:
          type: string
          format: date
          example: "2026-04-01"
        periodEnd:
          type: string
          format: date
          example: "2026-04-30"
        tier:
          type: string
          enum: [free, starter, pro, enterprise]

    ComplianceCheck:
      type: object
      properties:
        agentId:
          $ref: "#/components/schemas/ComplianceAgentId"
        checkName:
          type: string
          description: Machine-readable check identifier
          example: unsubstantiated-claim
        status:
          $ref: "#/components/schemas/ComplianceStatus"
        severity:
          $ref: "#/components/schemas/ComplianceSeverity"
        message:
          type: string
          description: Human-readable description of the issue
          example: "'Guaranteed results' may violate FTC endorsement guides"
        recommendation:
          type: string
          description: Specific action to fix the issue
          example: "Remove or substantiate the guarantee claim"
        citation:
          type: string
          description: Legal or policy reference
          example: "16 CFR Part 255"
        metadata:
          type: string
          description: Optional JSON string with agent-specific data

    ComplianceAnnotation:
      type: object
      required: [type, agentId, severity, message]
      properties:
        type:
          $ref: "#/components/schemas/AnnotationType"
        checkRef:
          type: string
          description: Links to ComplianceCheck.checkName
        agentId:
          $ref: "#/components/schemas/ComplianceAgentId"
        severity:
          $ref: "#/components/schemas/ComplianceSeverity"
        message:
          type: string
          example: "'Guaranteed results' may violate FTC endorsement guides"
        suggestion:
          type: string
          description: Actionable fix
          example: "Consider 'may help' instead of 'guaranteed'"
        textLocation:
          type: object
          description: For text-span annotations
          properties:
            start:
              type: integer
              description: Character offset (0-indexed)
              example: 120
            end:
              type: integer
              example: 138
            matchedText:
              type: string
              example: "guaranteed results"
        timelineLocation:
          type: object
          description: For timeline annotations (video)
          properties:
            startMs:
              type: integer
              example: 15000
            endMs:
              type: integer
              example: 28000
            track:
              type: string
              enum: [audio, video, subtitle]
        imageLocation:
          type: object
          description: For image-region annotations
          properties:
            imageUrl:
              type: string
              format: uri
            boundingBox:
              type: object
              properties:
                x:
                  type: number
                y:
                  type: number
                width:
                  type: number
                height:
                  type: number

    ComplianceVersionInfo:
      type: object
      properties:
        engineVersion:
          type: string
          example: "1.3.2"
        rulesVersion:
          type: string
          description: Timestamp of last rules update
          example: "2026-04-01"
        agentVersions:
          type: object
          additionalProperties:
            type: string
          example:
            advertising-law: "1.1.0"
            jurisdiction-detection: "1.2.0"
        modelVersions:
          type: object
          additionalProperties:
            type: string
          example:
            perplexity/sonar-pro: "sonar-pro-2026"
            gpt-5.2: "gpt-5.2-2026"
            claude-sonnet-4-6: "claude-sonnet-4-6"

    AgentCostEntry:
      type: object
      properties:
        agent:
          type: string
          example: jurisdiction
        stage:
          type: string
          enum: [A, B, C]
          description: |
            - A: Legal research (Perplexity, cacheable)
            - B: Law interpretation (GPT-5.2)
            - C: Compliance writing (claude-sonnet-4-6)
        model:
          type: string
          example: perplexity/sonar-pro
        credits:
          type: number
          example: 2
        cached:
          type: boolean
          description: Whether the research cache was used (0 provider cost)
          example: false

    CostBreakdown:
      type: object
      properties:
        totalCredits:
          type: number
          example: 47
        agents:
          type: array
          items:
            $ref: "#/components/schemas/AgentCostEntry"

    AgentSummary:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/ComplianceStatus"
        checkCount:
          type: integer
        passCount:
          type: integer
        flagCount:
          type: integer
        blockCount:
          type: integer
        summary:
          type: string
          example: "2 advertising claim issues found"

    ComplianceProfile:
      type: object
      properties:
        detectedJurisdictions:
          type: array
          items:
            type: string
        applicableRules:
          type: array
          items:
            type: object
        targetPlatforms:
          type: array
          items:
            type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        reasoning:
          type: string

    ComplianceReport:
      type: object
      properties:
        reportId:
          type: string
          example: rpt_abc123
        score:
          type: integer
          minimum: 0
          maximum: 100
          example: 72
        decision:
          $ref: "#/components/schemas/ComplianceDecision"
        checks:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceCheck"
        annotations:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceAnnotation"
        profile:
          $ref: "#/components/schemas/ComplianceProfile"
        agentSummaries:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/AgentSummary"
        versionInfo:
          $ref: "#/components/schemas/ComplianceVersionInfo"
        costBreakdown:
          $ref: "#/components/schemas/CostBreakdown"
        _meta:
          type: object
          description: Present only for test mode (zt_test_ keys)
          properties:
            mode:
              type: string
              enum: [test]
            sandbox:
              type: boolean
            creditsCharged:
              type: number
              example: 0
            estimatedProductionCost:
              type: number
              example: 47
            scenarioId:
              type: string
              example: claim-violation

    AsyncJobCreated:
      type: object
      properties:
        jobId:
          type: string
          example: job_xyz789
        status:
          type: string
          enum: [queued, pending]
        estimatedCredits:
          type: number
          example: 47
        queuePosition:
          type: integer
          example: 1
        pollUrl:
          type: string
          example: /v1/compliance/jobs/job_xyz789

    JobStatus:
      type: object
      properties:
        jobId:
          type: string
        status:
          type: string
          enum: [queued, pending, running, completed, failed, dead]
        completedAgents:
          type: array
          items:
            type: string
          example: ["jurisdiction-detection", "advertising-law"]
        totalAgents:
          type: integer
          example: 7
        result:
          description: Present only when status is "completed"
          $ref: "#/components/schemas/ComplianceReport"

    AgentDefinition:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ComplianceAgentId"
        name:
          type: string
          example: Advertising Law
        description:
          type: string
          example: Checks FTC, UCPD, and advertising regulations
        phase:
          type: integer
          enum: [1, 2, 3]
          description: Pipeline phase (for full mode ordering)
        inputType:
          type: string
          enum: [text, image, both]
        version:
          type: string
          example: "1.1.0"

    AgentResult:
      type: object
      properties:
        agentId:
          $ref: "#/components/schemas/ComplianceAgentId"
        checks:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceCheck"
        annotations:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceAnnotation"
        costBreakdown:
          $ref: "#/components/schemas/CostBreakdown"

    ImageCheckResponse:
      type: object
      properties:
        checks:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceCheck"
        annotations:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceAnnotation"
        costBreakdown:
          $ref: "#/components/schemas/CostBreakdown"

    AgentTrace:
      type: object
      properties:
        agentId:
          type: string
        agentVersion:
          type: string
          example: "1.2.0"
        phase:
          type: integer
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        latencyMs:
          type: integer
          example: 3200
        inputTokens:
          type: integer
          example: 500
        outputTokens:
          type: integer
          example: 800
        maxTokensBudget:
          type: integer
          description: Token budget allocated to this agent
          example: 1200
        model:
          type: string
          example: perplexity/sonar-pro
        costUSD:
          type: number
          example: 0.014
        credits:
          type: number
          example: 2
        cached:
          type: boolean
          description: Whether the research cache was used
        annotationCount:
          type: integer
        partial:
          type: boolean
          description: Whether the agent hit its token budget cap
        error:
          type: string

    RequestLog:
      type: object
      properties:
        requestId:
          type: string
        method:
          type: string
          example: POST
        path:
          type: string
          example: /v1/compliance/check
        statusCode:
          type: integer
          example: 200
        latencyMs:
          type: integer
          example: 8500
        creditsUsed:
          type: number
          example: 47
        cached:
          type: boolean
        externalId:
          type: string
        jobId:
          type: string
        createdAt:
          type: string
          format: date-time

    WebhookDelivery:
      type: object
      properties:
        deliveryId:
          type: string
        webhookId:
          type: string
        eventType:
          type: string
          enum: [check.completed, check.failed]
        statusCode:
          type: integer
        attemptCount:
          type: integer
        lastAttemptAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, delivered, failed, dead]
