openapi: 3.1.0
info:
  title: ZebraTruth Compliance API
  version: 1.0.0
  description: |
    AI-powered compliance checking for advertising content. Check text and images against
    jurisdiction laws, platform policies, and rights clearance requirements. Results include
    embeddable annotations mapped to content locations (text spans, video timestamps, image regions).
  contact:
    name: ZebraTruth Support
    email: support@zebratruth.ai
    url: https://developers.zebratruth.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.zebratruth.ai/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: Validate API keys and check account status
  - name: Compliance
    description: Run compliance checks on content
  - name: Agents
    description: Discover and invoke individual compliance agents
  - name: Jobs
    description: Poll async job status and view execution traces
  - name: Reports
    description: Retrieve and replay compliance reports
  - name: Observability
    description: Request logs and webhook delivery status
  - name: Video Compliance
    description: |
      Async compliance analysis for video content. Upload a video, submit a check,
      poll for the report. Includes tenant-level webhook signing-secret management
      for verifying delivery callbacks.

paths:
  /whoami:
    get:
      operationId: getWhoAmI
      summary: Validate API key
      description: Returns tenant info, tier, and credit balance for the authenticated API key.
      tags: [Authentication]
      responses:
        "200":
          description: Valid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhoAmIResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /usage:
    get:
      operationId: getUsage
      summary: Get credit usage
      description: Returns current credit balance, usage this period, and plan details.
      tags: [Authentication]
      responses:
        "200":
          description: Usage data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /compliance/check:
    post:
      operationId: runComplianceCheck
      summary: Run compliance check
      description: |
        Check content against jurisdiction laws, platform policies, and rights clearance.
        Supports three response modes: sync (block until complete), stream (SSE events per agent),
        and async (webhook callback on completion).

        **Request formats.** Accepts either `application/json` (the canonical format, full feature
        set including streaming and webhooks) or `multipart/form-data` (for uploading image binaries
        directly from a local file system). The multipart form is sync-only and bypasses the
        response cache (cache is keyed on text, so mixing image sets would return wrong results).

        **Latency.** Sync checks typically complete in **15–120 seconds** depending on mode, number
        of jurisdictions/platforms, and content length. Cached hits return in ≤1s. **Set client
        timeouts to at least 2.5 minutes (150s).** For long-running or batched workflows, prefer
        `responseMode: "async"` with a webhook to avoid long-held connections.

        **Tenant scoping.** Every request is scoped to your account's subscribed jurisdictions
        and platforms (set during onboarding at `https://developers.zebratruth.ai`). Requesting
        a jurisdiction or platform outside that set returns 403. See the
        [Tenant Onboarding and Scoping guide](/guides/tenant-onboarding-and-scoping).
      tags: [Compliance]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceCheckRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ComplianceCheckMultipartRequest"
            encoding:
              image:
                contentType: image/png, image/jpeg, image/webp, image/gif
      responses:
        "200":
          description: |
            Compliance report (sync mode). For stream mode, returns `text/event-stream`.
            For async mode, returns job info with poll URL.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ComplianceReport"
                  - $ref: "#/components/schemas/AsyncJobCreated"
            text/event-stream:
              schema:
                type: string
                description: SSE stream with agent.started, agent.completed, score, and complete events
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "403":
          $ref: "#/components/responses/TenantScopeDenied"
        "429":
          $ref: "#/components/responses/RateLimited"

  /compliance/check-image:
    post:
      operationId: checkImage
      summary: Check image rights
      description: |
        Dedicated image rights clearance. Checks for:

        - **Restricted-category content** — six advertising-restricted categories: alcohol & spirits, weapons & firearms, tobacco & smoking, gambling, pharmaceuticals, financial products (incl. crypto / forex / investments). See the [Restricted Categories guide](/guides/restricted-categories) for the full catalog.
        - **Content safety (ZebraSafety)** — adult / violence / racy / medical likelihood signals. Tiered: `(high confidence)` → `status: "block"`; `(medium confidence)` → `status: "flag"`.
        - **Brand logo & stock-agency watermark detection** — trademarks and unlicensed-stock indicators.
        - **C2PA / IPTC metadata** — Content Credentials, provenance, AI generation markers.
        - **Known-person likeness** — right-of-publicity flag. *Surfaces only when the celebrity-detection provider is enabled in the deployment; not active in the default ZebraTruth-managed configuration today.*

        Use this for image-only checks. For combined text + image checks, use `/compliance/check` with `content.imageUrls`.

        **Request formats.** Accepts either `application/json` (`imageUrls` referencing publicly
        accessible URLs) or `multipart/form-data` (upload up to 2 image binaries directly — use
        when you don't have a public URL handy). Total request body is capped at 4.5 MB.

        **Per-jurisdiction citations.** Citations on returned checks are composed from the laws
        applicable to the jurisdictions you requested AND the platform policies for the platforms
        you requested. A restricted-category detection with `jurisdictions: ["us"]` cites the
        federal regulator (e.g. FTC, FDA, SEC); the same detection with `jurisdictions: ["eu", "uk"]`
        cites European directives and UK codes. Adding `platforms: ["facebook", "tiktok"]` appends
        the corresponding platform-policy references.

        **Check statuses.** Stock watermarks and high-severity restricted categories return
        `status: "block"`; brand logos, medium-severity restricted categories, and medium-confidence
        content-safety signals return `status: "flag"` (review). See the [Image Rights Clearance
        guide](/guides/image-rights-clearance) for the full matrix.

        **Tenant scoping.** Every request is scoped to your account's subscribed jurisdictions
        and platforms. Requesting a jurisdiction or platform outside that set returns 403. See
        the [Tenant Onboarding and Scoping guide](/guides/tenant-onboarding-and-scoping).
      tags: [Compliance]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageCheckRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImageCheckMultipartRequest"
            encoding:
              image:
                contentType: image/png, image/jpeg, image/webp, image/gif
      responses:
        "200":
          description: Image compliance results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageCheckResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "403":
          $ref: "#/components/responses/TenantScopeDenied"
        "429":
          $ref: "#/components/responses/RateLimited"

  /agents:
    get:
      operationId: listAgents
      summary: List available agents
      description: |
        Discover all available compliance agents. Agents are added regularly —
        always use this endpoint to discover dynamically rather than hardcoding agent IDs.
      tags: [Agents]
      responses:
        "200":
          description: List of available agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AgentDefinition"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /agents/{agentId}:
    post:
      operationId: invokeAgent
      summary: Invoke a single agent
      description: |
        Run a single compliance agent directly instead of the full pipeline.
        Useful for targeted re-checks or building custom workflows.
        Costs ~8-12 credits (1 agent x 3 LLM stages).
      tags: [Agents]
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ComplianceAgentId"
          description: The agent to invoke (use `GET /agents` to discover available IDs)
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentInvokeRequest"
      responses:
        "200":
          description: Agent result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "404":
          description: Agent not found
        "429":
          $ref: "#/components/responses/RateLimited"

  /compliance/jobs/{jobId}:
    get:
      operationId: getJobStatus
      summary: Poll job status
      description: Check the status of an async compliance check job.
      tags: [Jobs]
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          example: job_xyz789
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Job not found

  /compliance/jobs/{jobId}/trace:
    get:
      operationId: getJobTrace
      summary: Get agent execution trace
      description: |
        Detailed per-agent metrics for a job. Shows latency, tokens, cost, cache hits,
        and whether any agent was truncated.
      tags: [Jobs]
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agent traces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AgentTrace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Job not found

  /compliance/jobs/{jobId}/stream:
    get:
      operationId: resumeJobStream
      summary: Resume SSE stream
      description: |
        Reconnect to a streaming compliance check after a disconnect.
        Partial results are persisted server-side. The stream resumes from
        the next uncompleted agent.
      tags: [Jobs]
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
        - name: resumeFrom
          in: query
          required: false
          schema:
            type: string
          description: Resume from the agent after this one (last completed agentId)
          example: advertising-law
      responses:
        "200":
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string

  /reports/{reportId}:
    get:
      operationId: getReport
      summary: Get compliance report
      description: Retrieve a full compliance report by ID.
      tags: [Reports]
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Full compliance report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceReport"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Report not found

  /reports/{reportId}/replay:
    post:
      operationId: replayReport
      summary: Replay a compliance check
      description: |
        Re-run the exact same check to compare results (e.g., after a rules update).
        Creates a new job with a new budget reservation.
      tags: [Reports]
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: New job created from replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncJobCreated"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Original report not found

  /logs:
    get:
      operationId: queryLogs
      summary: Query request logs
      description: Search your API request history. Filter by external ID, date range, or status code.
      tags: [Observability]
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date
          description: Start date (ISO 8601)
          example: "2026-04-01"
        - name: until
          in: query
          schema:
            type: string
            format: date
          description: End date (ISO 8601)
        - name: externalId
          in: query
          schema:
            type: string
          description: Filter by your external reference ID
        - name: statusCode
          in: query
          schema:
            type: integer
          description: Filter by HTTP status code
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
          description: Max results to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        "200":
          description: Request logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RequestLog"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /webhooks/deliveries:
    get:
      operationId: getWebhookDeliveries
      summary: Get webhook delivery logs
      description: View webhook delivery attempts, including failed and dead-letter deliveries.
      tags: [Observability]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, delivered, failed, dead]
          description: Filter by delivery status
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Webhook delivery logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebhookDelivery"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /compliance/media/upload-url:
    post:
      operationId: createVideoUploadUrl
      summary: Mint a video upload URL
      description: |
        Returns a tenant-scoped, short-lived (15 min) SAS URL the client uses
        to PUT video bytes **directly to blob storage** — bypassing the API
        for the upload itself. The returned `requestId` is the handle for the
        subsequent `POST /compliance/check-video` call.

        **Why direct upload?** Videos can be up to 200 MB. Streaming them
        through the API endpoint would add latency, double bandwidth costs,
        and hit serverless function timeout limits. Direct-to-blob upload
        is the same pattern used by S3, GCS, and Azure for large files.

        **Allowed content types:** `video/mp4`, `video/webm`, `video/quicktime`.
        The duration limits (3–180s) and file-size cap (200 MB) are enforced
        by the subsequent `check-video` call's probe step — not at upload time.

        **The PUT must include the returned `uploadInstructions.headers`
        verbatim** (they carry ownership tags + the Azure `x-ms-blob-type` header).
      tags: [Video Compliance]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoUploadUrlRequest"
      responses:
        "200":
          description: Upload URL minted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoUploadUrlResponse"
        "400":
          description: Invalid contentType (must be video/mp4 | video/webm | video/quicktime)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "403":
          $ref: "#/components/responses/TenantScopeDenied"
        "429":
          $ref: "#/components/responses/RateLimited"

  /compliance/check-video:
    post:
      operationId: runVideoComplianceCheck
      summary: Submit a video for compliance analysis
      description: |
        Submits an uploaded video (referenced by `requestId` + `blobPath` from
        a prior `POST /compliance/media/upload-url`) for compliance analysis.
        **Asynchronous** — returns 202 immediately with a `jobId`. Poll
        `GET /compliance/check-video/{requestId}` for status + the inlined
        report when terminal, OR set `webhookUrl` to receive a signed callback.

        **Required:** `jurisdictions` + `platforms` (mirror text/image checks —
        same canonical codes, e.g. `["us", "eu"]`, `["youtube", "instagram"]`).
        Inputs are canonicalized (trim + lowercase + sort) before storage and
        hashed — case-only differences are treated as the same request.

        **Idempotency.** The request is keyed on
        `(blobPath, feature, inputHash)`. Re-posting with the same `requestId`
        AND the same inputs returns 202 with `idempotent: true`. Different
        inputs on the same `requestId` returns 409 `idempotency_conflict`
        with `reason` set to the field that differs.

        **Billing.** Credits are reserved at submit time
        (`estimatedCredits` returned). They are committed when the job
        completes with a real report, OR released for `insufficient_evidence`
        / `analysis_failed` / poison-queue failures — tenants only pay for
        valid reports.

        **Latency.** Typical: 8–30 seconds for a 5–30s video. Longer videos
        and dense-content frames take proportionally longer.
      tags: [Video Compliance]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoCheckRequest"
      responses:
        "202":
          description: Job accepted + queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoCheckAcceptedResponse"
        "400":
          description: |
            Validation failure. Common `data.code` values:
              - `blob_path_invalid` — blobPath doesn't start with `videos/{tenantId}/{requestId}/`
              - `unsupported_mode` — only `fast` is supported in V1
              - `video_too_short` / `duration_out_of_range` — duration outside [3, 180]s
              - `blob_not_found` — uploadUrl PUT didn't complete or blob expired
              - `blob_ownership_mismatch` — blob tags don't match the request's tenantId/requestId
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "403":
          $ref: "#/components/responses/TenantScopeDenied"
        "409":
          description: Idempotency conflict — same requestId reused with different inputs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdempotencyConflictResponse"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          description: Probe service temporarily unavailable — retry shortly
        "503":
          description: Video analysis temporarily disabled — retry later

  /compliance/check-video/{requestId}:
    get:
      operationId: getVideoCheckStatus
      summary: Poll video job status + retrieve report
      description: |
        Returns the current state of a video compliance job. When the job is
        terminal (`status: completed | failed`), the full `report` payload is
        inlined in the response — no extra fetch needed.

        **Polling cadence:** every 2 seconds is recommended; the engine has a
        3-minute upper bound on a single job's worker time.

        **`reportFetchFailed`.** Blob storage is eventually-consistent — a
        read immediately after the worker completes can occasionally miss.
        Rather than 500, the response surfaces `reportFetchFailed: true` so
        the client can retry the same endpoint shortly.

        **Tenant scoping.** A `requestId` belonging to a different tenant
        returns 404 (no info leak about another tenant's jobs).
      tags: [Video Compliance]
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
          description: The requestId returned by `POST /compliance/check-video`
          example: "82b68316-ed85-489c-991e-2ff0f2b95f29"
      responses:
        "200":
          description: Current status + report (when terminal)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoCheckStatusResponse"
        "400":
          description: Missing or malformed requestId
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No video compliance job for this tenant + requestId

  /compliance/webhooks/video/secret:
    get:
      operationId: getVideoWebhookSecret
      summary: Retrieve the tenant's video webhook signing secret
      description: |
        Returns the tenant-level HMAC signing secret used to sign outbound
        video webhook payloads. **Auto-creates the secret on the first call**
        and persists it — subsequent calls return the same value.

        **Verification.** Use this secret in your webhook receiver to verify
        the `x-zt-webhook-signature` header on each delivery:
        ```
        signature == HMAC_SHA256(secret,
          "POST" + "\n" + url + "\n" + timestamp + "\n" + sha256(body))
        ```
        The signature is computed once at delivery enqueue and stays
        stable across all retries for a given delivery — so your verifier
        sees the same signature regardless of which attempt arrives.

        **One-time visibility.** This is the ONLY surface that returns the
        secret. It never appears in `POST /compliance/check-video` responses
        or anywhere else. Treat it like an API key; store it in your
        secret manager.
      tags: [Video Compliance]
      responses:
        "200":
          description: Secret retrieved (or just-created on first call)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoWebhookSecretResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Tenant not found

  /compliance/webhooks/video/secret/rotate:
    post:
      operationId: rotateVideoWebhookSecret
      summary: Rotate the tenant's video webhook signing secret
      description: |
        Generates a brand-new tenant-level webhook signing secret, replacing
        any existing value. Returns the new secret in the response (the only
        time it is exposed).

        **Important — in-flight deliveries are unaffected.** Each delivery's
        HMAC signature is computed at enqueue time and stored on the delivery
        record, so retries for already-queued webhooks continue to verify
        against the OLD secret. **New** jobs sign with the new secret.

        **Update your verifier immediately.** After rotation, your receiver
        must accept the NEW secret on the next job's webhook. Most receivers
        accept both old + new during a brief grace window — recommended.
      tags: [Video Compliance]
      responses:
        "200":
          description: Secret rotated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoWebhookSecretRotateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Tenant not found

  /version:
    get:
      operationId: getVersion
      summary: Get engine version
      description: Returns current compliance engine version, rules version, and agent versions.
      tags: [Authentication]
      responses:
        "200":
          description: Version info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceVersionInfo"

  /corpus/refresh:
    post:
      operationId: refreshCorpus
      summary: Force refresh of legal corpus rows
      description: |
        Triggers an out-of-band refresh of one or more rows in your tenant's legal corpus.
        Each corpus row is the pre-researched legal context that Stage A consumes — refreshing
        replaces its enrichment with the latest available regulator guidance.

        **When you'd use this**: regulatory guidance changed mid-window, or you want fresh
        enrichment before running an important compliance check.

        **Idempotent**: concurrent calls or repeated calls on the same row don't fan out
        duplicate work — calls that arrive while a refresh is already in flight return
        `skippedCount += 1` instead of enqueueing.

        **Rate-limited**: max 50 rows enqueued per call. Excess returns as `pending`.
        Re-call after ~1 minute to drain remaining rows.

        **Async**: returns immediately after enqueueing; the actual refresh runs on a
        background worker. Subsequent reads automatically pick up the new enrichment.
      tags: [Compliance]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CorpusRefreshRequest"
      responses:
        "200":
          description: Refresh enqueued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorpusRefreshResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/TenantScopeDenied"
        "429":
          $ref: "#/components/responses/RateLimited"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        API key starting with `zt_live_` (production) or `zt_test_` (sandbox).
        Get your key at https://developers.zebratruth.ai

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: |
        Unique request identifier to prevent duplicate execution and double-charging.
        Generate a new UUID for each distinct request. Reuse the same key to safely retry.

  responses:
    Unauthorized:
      description: |
        Invalid, missing, or expired API key. Standard Nitro/h3 error envelope —
        read `message` for the human-readable reason.
      content:
        application/json:
          schema:
            type: object
            description: Standard Nitro/h3 error envelope.
            required: [statusCode, message]
            properties:
              error:
                type: boolean
                example: true
              url:
                type: string
                format: uri
                example: https://api.zebratruth.ai/v1/whoami
              statusCode:
                type: integer
                example: 401
              statusMessage:
                type: string
                example: "Invalid API key"
              message:
                type: string
                description: Canonical human-readable reason — pattern-match on this field.
                example: "Invalid API key"
    BadRequest:
      description: |
        Request body failed validation. Standard Nitro/h3 error envelope. The
        `message` field describes what's wrong (typically a Zod validation error
        message listing the offending fields).
      content:
        application/json:
          schema:
            type: object
            description: Standard Nitro/h3 error envelope.
            required: [statusCode, message]
            properties:
              error:
                type: boolean
                example: true
              url:
                type: string
                format: uri
              statusCode:
                type: integer
                example: 400
              statusMessage:
                type: string
                example: 'jurisdictions: Required, platforms: Required'
              message:
                type: string
                description: Canonical human-readable reason. For Zod failures, lists each invalid field.
                example: 'jurisdictions: Required, platforms: Required'
    InsufficientCredits:
      description: |
        Not enough credits in the tenant's current period to process this request.
        Standard Nitro/h3 error envelope plus a `data` object with credit specifics
        and an upgrade URL.
      content:
        application/json:
          schema:
            type: object
            description: Standard Nitro/h3 error envelope with a `data` payload.
            required: [statusCode, message]
            properties:
              error:
                type: boolean
                example: true
              url:
                type: string
                format: uri
              statusCode:
                type: integer
                example: 402
              statusMessage:
                type: string
                example: "Insufficient credits"
              message:
                type: string
                example: "Insufficient credits"
              data:
                type: object
                description: "Per-error context, attached via Nitro `createError({ data: ... })`."
                properties:
                  creditsRemaining:
                    type: number
                    example: 3
                  creditsNeeded:
                    type: number
                    example: 47
                  upgradeUrl:
                    type: string
                    format: uri
                    example: https://developers.zebratruth.ai/dashboard/billing
    TenantScopeDenied:
      description: |
        The request asks for a jurisdiction or platform not in your subscription, or your
        tenant record is missing / incomplete. The human-readable reason is in the
        `statusMessage` and `message` fields (both carry the same string — `message` is
        the canonical field in the Nitro/h3 error envelope). Four possible messages:

        - **Not onboarded** — no tenant record exists yet.
          `"Tenant not onboarded. Complete setup at https://developers.zebratruth.ai before using the API."`
        - **Incomplete config** — tenant exists but has no default jurisdictions or platforms set.
          `"Tenant configuration incomplete. Set default jurisdictions and platforms in your dev portal."`
        - **Jurisdiction not subscribed** — request includes jurisdictions outside the subscription.
          `"Requested jurisdictions [india, china] are not in your subscription. Allowed: [us, eu]."`
        - **Platform not subscribed** — request includes platforms outside the subscription.
          `"Requested platforms [tiktok] are not in your subscription. Allowed: [youtube, instagram]."`

        Fix: either adjust the request to stay within the subscribed set, or update your
        defaults at `https://developers.zebratruth.ai/dashboard/settings`.
      content:
        application/json:
          schema:
            type: object
            description: Standard Nitro/h3 error envelope. Read `message` (or `statusMessage`) for the human-readable reason.
            required: [statusCode, message]
            properties:
              error:
                type: boolean
                description: Always `true` for error responses in the Nitro envelope.
                example: true
              url:
                type: string
                format: uri
                description: The URL that was requested.
                example: https://api.zebratruth.ai/v1/compliance/check
              statusCode:
                type: integer
                example: 403
              statusMessage:
                type: string
                description: Human-readable reason — same content as `message`.
                example: "Requested jurisdictions [india, china] are not in your subscription. Allowed: [us, eu]."
              message:
                type: string
                description: Canonical human-readable reason — pattern-match on this field in client code.
                example: "Requested jurisdictions [india, china] are not in your subscription. Allowed: [us, eu]."
    RateLimited:
      description: |
        Per-tenant rate limit exceeded. Read the `Retry-After` header for the
        wait duration. Body is the standard Nitro/h3 error envelope plus a
        `data` object with limit context.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying.
      content:
        application/json:
          schema:
            type: object
            description: Standard Nitro/h3 error envelope with a `data` payload.
            required: [statusCode, message]
            properties:
              error:
                type: boolean
                example: true
              url:
                type: string
                format: uri
              statusCode:
                type: integer
                example: 429
              statusMessage:
                type: string
                example: "Rate limit exceeded"
              message:
                type: string
                example: "Rate limit exceeded"
              data:
                type: object
                description: "Per-error context, attached via Nitro `createError({ data: ... })`."
                properties:
                  retryAfter:
                    type: integer
                    description: Mirrors the `Retry-After` header for clients that prefer body fields.
                    example: 5
                  limit:
                    type: integer
                    description: Tenant's requests-per-minute cap.
                    example: 60
                  remaining:
                    type: integer
                    description: Requests remaining in the current window.
                    example: 0

  schemas:
    # --- Enums ---

    ComplianceStatus:
      type: string
      enum: [pass, flag, block, escalate]
      description: |
        - `pass` — No issue found
        - `flag` — Issue found, review recommended
        - `block` — Critical issue, must fix
        - `escalate` — Needs human review

    ComplianceSeverity:
      type: string
      enum: [critical, high, medium, low, info]
      description: |
        - `critical` — Legal liability risk (-25 points)
        - `high` — Likely violation (-15 points)
        - `medium` — Potential issue (-8 points)
        - `low` — Minor concern (-3 points)
        - `info` — Informational only (0 points)

    ComplianceDecision:
      type: string
      enum: [PUBLISH, HOLD, BLOCK]
      description: |
        - `PUBLISH` — Score 80-100, safe to publish
        - `HOLD` — Score 60-79, or any high-severity flag
        - `BLOCK` — Score 0-59, or any critical-severity check

    ComplianceAgentId:
      type: string
      enum:
        - ai-laws
        - jurisdiction-detection
        - advertising-law
        - platform-policy
        - metadata-labeling
        - rights-clearance
        - rights-clearance-text
        - rights-clearance-image
        - compliance-score
      description: |
        Agent identifier. Use `GET /agents` to discover all available agents dynamically.

        `ai-laws` is the canonical id; `jurisdiction-detection` is accepted as an
        input alias for backward compatibility with historical clients. New
        integrations should use `ai-laws`.

        **Note on rights-clearance variants.** `GET /agents` exposes two registered agents
        for rights clearance: `rights-clearance-text` and `rights-clearance-image` — invoke
        them via `POST /agents/{agentId}` using those qualified IDs. On **check response
        objects**, however, text rights-clearance findings carry the bare `agentId:
        "rights-clearance"`. Treat bare `rights-clearance` and `rights-clearance-text` as
        the same logical pipeline — the bare form is the value that appears on `checks[]`
        entries from that agent.

    AnnotationType:
      type: string
      enum: [text-span, timeline, image-region, global]

    # --- Request schemas ---

    ComplianceCheckRequest:
      type: object
      required: [jurisdictions, platforms, content, mode]
      properties:
        jurisdictions:
          type: array
          items:
            type: string
            enum: [us, eu, uk, india, china]
          description: Which jurisdiction laws to check against
          example: ["us", "eu"]
        platforms:
          type: array
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]
          description: Which platform policies to check
          example: ["youtube", "instagram"]
        content:
          type: object
          required: [text]
          properties:
            text:
              type: string
              description: The content to check (ad script, copy, description)
              example: "Try our guaranteed weight loss solution!"
            imageUrls:
              type: array
              items:
                type: string
                format: uri
              description: Image URLs for rights clearance (max 2). For image-only checks, use POST /compliance/check-image.
        mode:
          type: string
          enum: [fast, full]
          description: |
            - `fast` — All agents run in parallel (~12 credits)
            - `full` — 4-phase pipeline with content enrichment (~47 credits)
          example: fast
        responseMode:
          type: string
          enum: [sync, stream, async]
          default: sync
          description: |
            - `sync` — Block until complete, return full report
            - `stream` — SSE events per agent (progressive results)
            - `async` — Return immediately, deliver result via webhook
        webhookUrl:
          type: string
          format: uri
          description: Required for async mode — where to POST results
        callbackId:
          type: string
          description: Your correlation ID, echoed back in webhook payload
        externalId:
          type: string
          description: Your own reference ID, queryable in request logs

    ImageCheckRequest:
      type: object
      required: [imageUrls, jurisdictions, platforms]
      properties:
        imageUrls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 2
          description: Image URLs to check (max 2 per request)
        jurisdictions:
          type: array
          items:
            type: string
            enum: [us, eu, uk, india, china]
        platforms:
          type: array
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]

    ComplianceCheckMultipartRequest:
      type: object
      description: |
        Flat-field multipart form. Send `jurisdictions` and `platforms`
        as repeated fields (one value per occurrence) — NOT as JSON arrays or comma-separated
        strings. The multipart path is sync-only: `responseMode`, `webhookUrl`, and
        `callbackId` are ignored. Cache is bypassed when `image` parts are present.
      required: [text, jurisdictions, platforms]
      properties:
        text:
          type: string
          description: The content to check (ad script, copy, description).
          example: "Try our guaranteed weight loss solution!"
        image:
          type: array
          maxItems: 2
          description: |
            Image binary, 0 to 2 parts. Repeat the `image` field for each file
            (e.g., `-F "image=@ad-1.png" -F "image=@ad-2.png"`). Total request body
            is capped at 4.5 MB by the Vercel platform.
          items:
            type: string
            format: binary
        jurisdictions:
          type: array
          description: Send as repeated fields — `-F "jurisdictions=us" -F "jurisdictions=eu"`
          items:
            type: string
            enum: [us, eu, uk, india, china]
        platforms:
          type: array
          description: Send as repeated fields — `-F "platforms=youtube" -F "platforms=instagram"`
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]
        mode:
          type: string
          enum: [fast, full]
          default: fast
          description: Execution mode. Streaming and async are not available on the multipart path.
        externalId:
          type: string
          description: Your own reference ID, queryable in request logs.

    ImageCheckMultipartRequest:
      type: object
      description: |
        Flat-field multipart form for uploading image binaries directly. At least one
        `image` part is required; maximum of 2. Total request body is capped at 4.5 MB.
      required: [image, jurisdictions, platforms]
      properties:
        image:
          type: array
          minItems: 1
          maxItems: 2
          description: |
            Image binary, 1 or 2 parts. Repeat the `image` field for each file
            (e.g., `-F "image=@ad-1.png" -F "image=@ad-2.png"`).
          items:
            type: string
            format: binary
        jurisdictions:
          type: array
          description: Send as repeated fields — `-F "jurisdictions=us" -F "jurisdictions=eu"`
          items:
            type: string
            enum: [us, eu, uk, india, china]
        platforms:
          type: array
          description: Send as repeated fields — `-F "platforms=youtube" -F "platforms=instagram"`
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]

    AgentInvokeRequest:
      type: object
      required: [jurisdictions, platforms, content]
      properties:
        jurisdictions:
          type: array
          items:
            type: string
            enum: [us, eu, uk, india, china]
        platforms:
          type: array
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]
        content:
          type: object
          required: [text]
          properties:
            text:
              type: string

    CorpusRefreshRequest:
      oneOf:
        - type: object
          title: All stale rows
          required: [scope]
          properties:
            scope:
              type: string
              enum: [all]
              description: Refresh every stale row in the tenant's corpus.
        - type: object
          title: Area-scoped
          required: [scope, area, jurisdictions]
          properties:
            scope:
              type: string
              enum: [area]
            area:
              type: string
              enum: [ai_content, advertising, metadata, rights, data_privacy, platform_policy]
              description: Which corpus area to refresh.
            jurisdictions:
              type: array
              items:
                type: string
                enum: [us, eu, uk, india, china]
              minItems: 1
              description: Which jurisdictions in scope.
        - type: object
          title: Single law
          required: [scope, area, jurisdiction, lawId]
          properties:
            scope:
              type: string
              enum: [law]
            area:
              type: string
              enum: [ai_content, advertising, metadata, rights, data_privacy, platform_policy]
            jurisdiction:
              type: string
              enum: [us, eu, uk, india, china]
            lawId:
              type: string
              description: Specific law id from `jurisdiction-laws.ts`.
              example: ftc-ai-impersonation-rule
      description: |
        Discriminated union on `scope`. Pick the narrowest scope you need —
        `all` for everything stale, `area` to limit by jurisdiction × area,
        or `law` for a single row.

    # --- Response schemas ---

    CorpusRefreshResponse:
      type: object
      required: [requestedCount, enqueuedCount, skippedCount, pending, rateLimit]
      properties:
        requestedCount:
          type: integer
          description: How many corpus rows the requested scope resolved to.
          example: 12
        enqueuedCount:
          type: integer
          description: How many rows successfully acquired the lease + got a refresh message enqueued.
          example: 9
        skippedCount:
          type: integer
          description: |
            Rows where the lease is currently held by another recent caller
            (5-min window) or whose row didn't exist. These will refresh on
            the existing lease holder's enqueue.
          example: 3
        pending:
          type: integer
          description: |
            Rows over the 50/request rate limit. Re-call after ~1 minute to
            enqueue the rest.
          example: 0
        rateLimit:
          type: integer
          description: Maximum rows enqueued per request.
          example: 50

    WhoAmIResponse:
      type: object
      properties:
        tenantId:
          type: string
          example: kp_a269d9695f734329a216669410731a21
        tier:
          type: string
          enum: [free, starter, pro, enterprise]
          example: free
        authType:
          type: string
          enum: [apikey, kinde, admin]
          description: How this caller authenticated. External API consumers always see `apikey`.
          example: apikey
        scopes:
          type: array
          items:
            type: string
          description: Scopes granted to this API key. `*` is a wildcard. Common values — `compliance:check`, `agents:*`, `reports:read`, `policies:read`, `webhooks:manage`, `logs:read`, `usage:read`.
          example: ["compliance:check", "agents:*", "reports:read", "policies:read"]
        rateLimit:
          type: integer
          description: Requests per minute allowed for this key on the current tier.
          example: 10

    UsageResponse:
      type: object
      properties:
        creditsRemaining:
          type: number
          example: 1420
        creditsTotal:
          type: number
          example: 83250
        creditsUsedThisMonth:
          type: number
          example: 245
        periodStart:
          type: string
          format: date
          example: "2026-04-01"
        periodEnd:
          type: string
          format: date
          example: "2026-04-30"
        tier:
          type: string
          enum: [free, starter, pro, enterprise]

    CheckId:
      type: string
      pattern: "^chk_[0-9a-f]{8}$"
      description: |
        Stable check identifier. Format: `chk_<8 lowercase hex>`. Generated as a
        SHA-256 hash of (agentId, checkName, citation, sorted jurisdictions,
        sorted platforms, primaryCategory) — stable across reruns of identical
        content + scope + engine version. NOT stable across taxonomy
        reclassifications (primaryCategory change) or content/scope changes.
      example: chk_a1b2c3d4

    CheckScope:
      type: string
      enum:
        - global
        - jurisdiction-specific
        - platform-specific
        - cross-cutting
      description: |
        Disambiguates the empty-array case for `jurisdictions` and `platforms`:
        - `global` — universal; both arrays empty
        - `jurisdiction-specific` — jurisdictions populated, platforms empty
        - `platform-specific` — platforms populated, jurisdictions empty
        - `cross-cutting` — both populated; check applies at the intersection

    CheckCategory:
      type: string
      enum:
        - celebrity-endorsement
        - expert-authority
        - fabricated-testimonial
        - material-connection-disclosure
        - unsubstantiated-health-claim
        - medical-efficacy-claim
        - safety-claim
        - performance-claim
        - comparative-advertising
        - right-of-publicity
        - trademark-infringement
        - copyright-infringement
        - music-licensing
        - ai-disclosure-missing
        - watermark-missing
        - c2pa-missing
        - deepfake-impersonation
        - disguised-advertising
        - sponsored-content-labeling
        - consumer-information-disclosure
        - scarcity-urgency
        - aggressive-practice
        - algorithmic-amplification
        - minor-targeting
        - vulnerable-audience
        - platform-policy-violation
        - data-privacy
        - jurisdiction-coverage-gap
        - other
      description: |
        Top-level breach taxonomy. New categories may be added in minor versions
        (additive only); renaming and removal are forbidden. Clients MUST accept
        unknown enum values gracefully (forward-compat). `other` is the fallback
        bucket for findings that don't fit any specific category.

    CheckIndexes:
      type: object
      description: |
        Pre-computed reference indexes — pure ID lists, no content duplication.
        Tenants pick whichever organization fits their UI. Combine via set
        intersection (e.g., critical EU findings = bySeverity.critical ∩
        byJurisdiction.eu). All seven dimensions always present; empty buckets
        are included so client code can do `indexes.byJurisdiction.us ?? []`
        without optional-chaining on the bucket itself.
      properties:
        byJurisdiction:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/CheckId"
          description: Keyed by jurisdiction code (us, eu, uk, india, china).
        byPlatform:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/CheckId"
          description: Keyed by platform code (youtube, instagram, facebook, tiktok, linkedin).
        bySeverity:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/CheckId"
          description: Keyed by severity (info, low, medium, high, critical).
        byStatus:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/CheckId"
          description: Keyed by status (pass, flag, block, escalate).
        byCategory:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/CheckId"
          description: Keyed by `primaryCategory` only — each check appears in exactly one bucket.
        byCategoryAll:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/CheckId"
          description: Keyed by every category in `categories[]` — a check may appear in multiple buckets.
        byAgent:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: "#/components/schemas/CheckId"
          description: Keyed by agentId.

    ComplianceCheck:
      type: object
      description: |
        A single compliance finding. Includes both the raw finding fields
        (checkName, severity, message, recommendation, citation) and structured
        classification metadata added by the engine (id, jurisdictions, platforms,
        scope, primaryCategory, categories).
      properties:
        id:
          $ref: "#/components/schemas/CheckId"
        agentId:
          $ref: "#/components/schemas/ComplianceAgentId"
        checkName:
          type: string
          description: Human-readable check name
          example: "Unsubstantiated Health Claim - 'Cure Cancer'"
        status:
          $ref: "#/components/schemas/ComplianceStatus"
        severity:
          $ref: "#/components/schemas/ComplianceSeverity"
        message:
          type: string
          description: Human-readable description of the issue
          example: "'Guaranteed to cure cancer' is an unsubstantiated health claim under FTC and EU UCPD."
        recommendation:
          type: string
          description: Specific action to fix the issue
          example: "Remove the guarantee or substantiate with peer-reviewed clinical evidence."
        citation:
          type: string
          description: Legal or policy reference
          example: "FTC Endorsement Guides, 16 CFR Part 255"
        metadata:
          type: string
          description: Optional JSON string with agent-specific data
        jurisdictions:
          type: array
          items:
            type: string
          description: |
            Canonical jurisdiction codes (us, eu, uk, india, china) this check
            applies to. May be empty when `scope` is `global` or `platform-specific`.
            Always a subset of the request's jurisdiction list.
          example: [us, eu]
        platforms:
          type: array
          items:
            type: string
          description: |
            Canonical platform codes (youtube, instagram, facebook, tiktok, linkedin)
            this check applies to. May be empty when `scope` is `global` or
            `jurisdiction-specific`. Always a subset of the request's platform list.
          example: [youtube, instagram]
        scope:
          $ref: "#/components/schemas/CheckScope"
        primaryCategory:
          $ref: "#/components/schemas/CheckCategory"
        categories:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/CheckCategory"
          description: |
            All matched categories, with `primaryCategory` first. A finding may
            apply to multiple categories (e.g. a deepfake celebrity check matches
            both `deepfake-impersonation` and `right-of-publicity`).
          example: [unsubstantiated-health-claim, performance-claim]

    ComplianceAnnotation:
      type: object
      required: [type, agentId, severity, message]
      properties:
        type:
          $ref: "#/components/schemas/AnnotationType"
        checkRef:
          type: string
          description: |
            DEPRECATED. Legacy link to `ComplianceCheck.checkName`. Use `checkId`
            instead — it's a stable hash that survives prompt wording changes.
            Retained for backward compatibility; will be removed in a future
            major version.
        checkId:
          $ref: "#/components/schemas/CheckId"
        agentId:
          $ref: "#/components/schemas/ComplianceAgentId"
        severity:
          $ref: "#/components/schemas/ComplianceSeverity"
        message:
          type: string
          example: "'Guaranteed results' may violate FTC endorsement guides"
        suggestion:
          type: string
          description: Actionable fix
          example: "Consider 'may help' instead of 'guaranteed'"
        textLocation:
          type: object
          description: For text-span annotations
          properties:
            start:
              type: integer
              description: Character offset (0-indexed)
              example: 120
            end:
              type: integer
              example: 138
            matchedText:
              type: string
              example: "guaranteed results"
        timelineLocation:
          type: object
          description: For timeline annotations (video)
          properties:
            startMs:
              type: integer
              example: 15000
            endMs:
              type: integer
              example: 28000
            track:
              type: string
              enum: [audio, video, subtitle]
        imageLocation:
          type: object
          description: For image-region annotations
          properties:
            imageUrl:
              type: string
              format: uri
            boundingBox:
              type: object
              properties:
                x:
                  type: number
                y:
                  type: number
                width:
                  type: number
                height:
                  type: number

    ComplianceVersionInfo:
      type: object
      properties:
        engineVersion:
          type: string
          example: "1.3.2"
        rulesVersion:
          type: string
          description: Timestamp of last rules update. Bumps when the compiled law set changes.
          example: "2026-04-01"
        agentVersions:
          type: object
          additionalProperties:
            type: string
          description: Version per compliance agent. Bumps when an agent's logic changes.
          example:
            advertising-law: "1.1.0"
            ai-laws: "1.3.0"
        stackVersion:
          type: string
          description: |
            Opaque identifier for the internal model/prompt stack. Bumps whenever the
            underlying model pipeline changes. Use it for client-side change detection
            (e.g. invalidate cached results, trigger replays). The format is intentionally
            opaque — treat it as a black-box string and pattern-match only for equality,
            never parse its structure.
          example: "2026.04-a7f3"

    AgentCostEntry:
      type: object
      properties:
        agent:
          type: string
          example: jurisdiction
        stage:
          type: string
          enum: [A, B, C]
          description: |
            Pipeline stage — the agent's work is decomposed into three sub-steps:
            - **A** — Legal research (retrieves applicable law; cacheable with a 30-day TTL)
            - **B** — Risk interpretation (maps law to content-specific risk)
            - **C** — Compliance composition (writes structured output)
        credits:
          type: number
          example: 2
        cached:
          type: boolean
          description: Whether the research cache was used (0 provider cost)
          example: false

    CostBreakdown:
      type: object
      properties:
        totalCredits:
          type: number
          example: 47
        agents:
          type: array
          items:
            $ref: "#/components/schemas/AgentCostEntry"

    AgentSummary:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/ComplianceStatus"
        checkCount:
          type: integer
        passCount:
          type: integer
        flagCount:
          type: integer
        blockCount:
          type: integer
        summary:
          type: string
          example: "2 advertising claim issues found"

    ComplianceProfile:
      type: object
      properties:
        detectedJurisdictions:
          type: array
          items:
            type: string
        applicableRules:
          type: array
          items:
            type: object
        targetPlatforms:
          type: array
          items:
            type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        reasoning:
          type: string

    ComplianceReport:
      type: object
      properties:
        reportId:
          type: string
          example: rpt_abc123
        score:
          type: integer
          minimum: 0
          maximum: 100
          example: 72
        decision:
          $ref: "#/components/schemas/ComplianceDecision"
        checks:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceCheck"
          description: |
            All compliance findings. Each check has structured classification
            metadata (id, jurisdictions, platforms, scope, primaryCategory,
            categories) added inline. Combine `bySeverity` + `byJurisdiction`
            etc. via the `indexes` field for filtered views.
        checksById:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ComplianceCheck"
          description: |
            O(1) lookup map keyed by stable `id`. Same data as `checks[]`,
            indexed for direct access (e.g. when resolving an annotation's
            `checkId` to its parent check).
        indexes:
          $ref: "#/components/schemas/CheckIndexes"
        annotations:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceAnnotation"
        profile:
          $ref: "#/components/schemas/ComplianceProfile"
        agentSummaries:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/AgentSummary"
        versionInfo:
          $ref: "#/components/schemas/ComplianceVersionInfo"
        costBreakdown:
          $ref: "#/components/schemas/CostBreakdown"
        _meta:
          type: object
          description: Present only for test mode (zt_test_ keys)
          properties:
            mode:
              type: string
              enum: [test]
            sandbox:
              type: boolean
            creditsCharged:
              type: number
              example: 0
            estimatedProductionCost:
              type: number
              example: 47
            scenarioId:
              type: string
              example: claim-violation

    AsyncJobCreated:
      type: object
      properties:
        jobId:
          type: string
          example: job_xyz789
        status:
          type: string
          enum: [queued, pending]
        estimatedCredits:
          type: number
          example: 47
        queuePosition:
          type: integer
          example: 1
        pollUrl:
          type: string
          example: /v1/compliance/jobs/job_xyz789

    JobStatus:
      type: object
      properties:
        jobId:
          type: string
        status:
          type: string
          enum: [queued, pending, running, completed, failed, dead]
        completedAgents:
          type: array
          items:
            type: string
          example: ["ai-laws", "advertising-law"]
        totalAgents:
          type: integer
          example: 7
        result:
          description: Present only when status is "completed"
          $ref: "#/components/schemas/ComplianceReport"

    AgentDefinition:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ComplianceAgentId"
        name:
          type: string
          example: Advertising Law
        description:
          type: string
          example: Checks FTC, UCPD, and advertising regulations
        phase:
          type: integer
          enum: [1, 2, 3]
          description: Pipeline phase (for full mode ordering)
        inputType:
          type: string
          enum: [text, image, both]
        version:
          type: string
          example: "1.1.0"

    AgentResult:
      type: object
      properties:
        agentId:
          $ref: "#/components/schemas/ComplianceAgentId"
        checks:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceCheck"
        checksById:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ComplianceCheck"
        indexes:
          $ref: "#/components/schemas/CheckIndexes"
        annotations:
          type: array
          items:
            $ref: "#/components/schemas/ComplianceAnnotation"
        costBreakdown:
          $ref: "#/components/schemas/CostBreakdown"

    ImageCheckResponse:
      type: object
      properties:
        checks:
          type: array
          description: All compliance checks emitted for the image(s). Each carries status, severity, message, recommendation, and citation.
          items:
            $ref: "#/components/schemas/ComplianceCheck"
        checksById:
          type: object
          description: Same checks keyed by `id` for direct lookup.
          additionalProperties:
            $ref: "#/components/schemas/ComplianceCheck"
        indexes:
          description: Inverted indexes (byStatus, bySeverity, byJurisdiction, byPlatform, byCategory) for convenient UI filtering.
          $ref: "#/components/schemas/CheckIndexes"
        annotations:
          type: array
          description: image-region annotations with bounding boxes for detected elements, when the underlying detection produces one.
          items:
            $ref: "#/components/schemas/ComplianceAnnotation"
        decision:
          type: string
          enum: [PUBLISH, HOLD, BLOCK]
          description: |
            Canonical compliance decision aggregated from check severities:
            - `PUBLISH` — clean (green light)
            - `HOLD` — review needed (yellow light)
            - `BLOCK` — do not publish (red light)
          example: BLOCK
        score:
          type: number
          minimum: 0
          maximum: 100
          description: Compliance score (0–100, higher is better). Driven by aggregated check severities. Below 50 typically maps to `BLOCK`.
          example: 22
        cached:
          type: boolean
          description: Whether the result came from the request cache (identical inputs within the cache window).
          example: false
        creditsCharged:
          type: number
          description: Credits debited from the tenant balance for this request. Scales linearly with `imageCount` (35 credits per image).
          example: 35
        costBreakdown:
          description: Per-agent credit + latency breakdown.
          $ref: "#/components/schemas/CostBreakdown"

    AgentTrace:
      type: object
      properties:
        agentId:
          type: string
        agentVersion:
          type: string
          example: "1.2.0"
        phase:
          type: integer
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        latencyMs:
          type: integer
          example: 3200
        inputTokens:
          type: integer
          example: 500
        outputTokens:
          type: integer
          example: 800
        maxTokensBudget:
          type: integer
          description: Token budget allocated to this agent
          example: 1200
        credits:
          type: number
          example: 2
        cached:
          type: boolean
          description: Whether the research cache was used
        annotationCount:
          type: integer
        partial:
          type: boolean
          description: Whether the agent hit its token budget cap
        error:
          type: string

    RequestLog:
      type: object
      properties:
        requestId:
          type: string
        method:
          type: string
          example: POST
        path:
          type: string
          example: /v1/compliance/check
        statusCode:
          type: integer
          example: 200
        latencyMs:
          type: integer
          example: 8500
        creditsUsed:
          type: number
          example: 47
        cached:
          type: boolean
        externalId:
          type: string
        jobId:
          type: string
        createdAt:
          type: string
          format: date-time

    WebhookDelivery:
      type: object
      properties:
        deliveryId:
          type: string
        webhookId:
          type: string
        eventType:
          type: string
          enum: [check.completed, check.failed]
        statusCode:
          type: integer
        attemptCount:
          type: integer
        lastAttemptAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, delivered, failed, dead]

    # ─── Video Compliance ────────────────────────────────────────────────

    VideoUploadUrlRequest:
      type: object
      required: [contentType]
      properties:
        contentType:
          type: string
          description: MIME type of the video being uploaded
          enum: [video/mp4, video/webm, video/quicktime]
          example: video/mp4

    VideoUploadUrlResponse:
      type: object
      required: [uploadUrl, blobPath, requestId, requiredTags, uploadInstructions]
      properties:
        uploadUrl:
          type: string
          format: uri
          description: |
            Short-lived (15 min) SAS URL. PUT the raw video bytes here using
            the headers from `uploadInstructions`. Do NOT add auth headers.
          example: https://zebratruthstorage.blob.core.windows.net/videos/.../source.mp4?...sig=...
        blobPath:
          type: string
          description: Pass this verbatim as `blobPath` in the subsequent `POST /compliance/check-video`.
          example: videos/kp_abc123.../82b68316-.../source.mp4
        requestId:
          type: string
          description: |
            Unique handle for this upload. Pass it verbatim as `requestId` in the
            subsequent `POST /compliance/check-video` AND use it to poll
            `GET /compliance/check-video/{requestId}` afterward.
          example: 82b68316-ed85-489c-991e-2ff0f2b95f29
        requiredTags:
          type: object
          description: |
            Azure blob index tags that the SAS URL enforces at upload time.
            Already encoded in `uploadInstructions.headers` — present here for
            inspection / debugging only.
          properties:
            tenantId:
              type: string
            requestId:
              type: string
            kind:
              type: string
              enum: [video]
        uploadInstructions:
          type: object
          required: [method, headers]
          properties:
            method:
              type: string
              enum: [PUT]
            headers:
              type: object
              description: Headers the client MUST include on the PUT to `uploadUrl`. Include verbatim.
              additionalProperties:
                type: string

    VideoCheckRequest:
      type: object
      required: [requestId, blobPath, jurisdictions, platforms]
      properties:
        requestId:
          type: string
          description: The `requestId` returned from `POST /compliance/media/upload-url`.
          example: 82b68316-ed85-489c-991e-2ff0f2b95f29
        blobPath:
          type: string
          description: The `blobPath` returned from `POST /compliance/media/upload-url`.
          example: videos/kp_abc123.../82b68316-.../source.mp4
        jurisdictions:
          type: array
          description: |
            Canonical jurisdiction codes scoped to your account's subscription.
            Inputs are canonicalized (trim + lowercase + sort) before hashing —
            case-only differences are treated as the same request.
          items:
            type: string
          example: [us, eu]
          minItems: 1
        platforms:
          type: array
          description: Canonical platform codes scoped to your account's subscription.
          items:
            type: string
            enum: [youtube, instagram, facebook, tiktok, linkedin]
          example: [youtube, instagram]
          minItems: 1
        mode:
          type: string
          description: Execution mode. V1 supports `fast` only.
          enum: [fast]
          default: fast
        webhookUrl:
          type: string
          format: uri
          description: |
            Optional callback URL. When set, a signed POST is delivered when the
            job reaches a terminal status. Requires you to have configured a
            webhook signing secret via `GET /compliance/webhooks/video/secret`.
          example: https://your-app.example.com/webhooks/zebratruth
        callbackId:
          type: string
          maxLength: 256
          description: |
            Opaque tag echoed back in the 202 response and the webhook payload.
            Use it to correlate jobs with your internal records.

    VideoCheckAcceptedResponse:
      type: object
      required: [jobId, status, estimatedCredits]
      properties:
        jobId:
          type: string
          description: Same value as the request's `requestId`. Use it to poll status.
          example: 82b68316-ed85-489c-991e-2ff0f2b95f29
        status:
          type: string
          enum: [queued]
        estimatedCredits:
          type: integer
          description: Credits reserved for this job. Committed on success or released on insufficient_evidence / analysis_failed.
          example: 50
        callbackId:
          type: string
          description: Echoed verbatim from the request when provided.
        idempotent:
          type: boolean
          description: |
            Present + `true` when this request matched an existing job with the
            same `(requestId, blobPath, feature, inputHash)`. No additional
            credits reserved.

    VideoCheckStatusResponse:
      type: object
      required: [requestId, tenantId, status]
      properties:
        requestId:
          type: string
        tenantId:
          type: string
        status:
          type: string
          description: |
            Public 4-state contract. `queued` + `processing` mean the worker is
            in-flight (continue polling). `completed` + `failed` are terminal.
          enum: [queued, processing, completed, failed, unknown]
        phase:
          type: string
          description: |
            Internal worker phase name (e.g. `transcribeAudio`, `analyzeFrames`, `done`).
            Useful for showing live progress UI. Not part of the stability contract —
            new phases may be added without notice.
        reportStatus:
          type: string
          description: Terminal status of the analysis. Absent until terminal.
          enum: [complete, insufficient_evidence, analysis_failed]
        billingStatus:
          type: string
          description: Reservation lifecycle. Absent until the worker resolves billing.
          enum: [reserved, committed, released]
        workerCompletedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        durationMs:
          type: integer
          description: Total worker pipeline duration in milliseconds.
        error:
          type: string
          description: Failure reason. Present when status is `failed`.
        reportBlobPath:
          type: string
          description: Path to the persisted report.json in blob storage. Informational — content is inlined in `report`.
        report:
          $ref: "#/components/schemas/VideoReport"
        reportFetchFailed:
          type: boolean
          description: |
            Present + `true` when the row is terminal but the report blob could
            not be fetched (eventually-consistent storage edge). Retry the same
            endpoint in 1-2 seconds.

    VideoReport:
      type: object
      description: The contents of the persisted report.json blob, inlined into status responses.
      required: [schemaVersion, preprocessorVersion, evidenceVersion, tenantId, requestId, generatedAt, status, checks, preprocessing]
      properties:
        schemaVersion:
          type: string
          enum: [video-report.v1]
        preprocessorVersion:
          type: string
          enum: [video-preprocessor.v1]
        evidenceVersion:
          type: string
          enum: [evidence-timeline.v1]
        tenantId:
          type: string
        requestId:
          type: string
        generatedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [complete, insufficient_evidence, analysis_failed]
        reason:
          type: string
          description: Failure / no-evidence reason. Present when status is not `complete`.
        checks:
          type: array
          items:
            $ref: "#/components/schemas/VideoComplianceCheck"
        analysisDiagnostics:
          type: array
          description: Pipeline diagnostics (boundary-validation drops, evidence truncation, etc.). Empty for clean runs.
          items:
            $ref: "#/components/schemas/AnalysisDiagnostic"
        detections:
          description: Raw vision-detection signals (logos, OCR, labels, safe-search). Forensic only.
        preprocessing:
          type: object
          required: [transcriptionStatus, frameAnalysisStatus, degraded, evidenceTruncated]
          properties:
            transcriptionStatus:
              type: string
              enum: [complete, skipped, failed]
            frameAnalysisStatus:
              type: string
              enum: [ok, partial, failed]
            degraded:
              type: boolean
              description: True when any diagnostic was emitted.
            evidenceTruncated:
              type: boolean
              description: True when the evidence renderer hit a size ceiling.

    VideoComplianceCheck:
      description: |
        Same shape as `ComplianceCheck` (text/image) with two optional
        video-mode fields. Frame-level deterministic findings (logos,
        on-screen text, restricted-category labels) carry `evidenceIds` +
        `timelineLocation`; broader LLM-derived findings may omit them.
      allOf:
        - $ref: "#/components/schemas/ComplianceCheck"
        - type: object
          properties:
            evidenceIds:
              type: array
              description: Stable evidence IDs this check cites. Pattern `<track>_NNN` where track is `audio`, `frame`, `ocr`, or `signal`.
              items:
                type: string
                pattern: '^(audio|frame|ocr|signal)_\d+$'
              example: [frame_007, ocr_012]
            timelineLocation:
              $ref: "#/components/schemas/VideoTimelineLocation"

    VideoTimelineLocation:
      type: object
      required: [startMs, endMs, track]
      properties:
        startMs:
          type: integer
          minimum: 0
          description: Start of the evidence range in milliseconds from video start.
        endMs:
          type: integer
          minimum: 0
          description: End of the evidence range (>= startMs). Equal to startMs for instant signals.
        track:
          type: string
          description: |
            Which video track the evidence lives on. Sub-source granularity
            (frame vs ocr vs signal) lives in `evidenceIds`.
          enum: [audio, video, mixed]

    AnalysisDiagnostic:
      type: object
      description: |
        First-class pipeline diagnostic. Surfaces non-compliance signals like
        renderer overflow or boundary-validation drops without polluting
        the compliance findings array.
      required: [code, message, severity]
      properties:
        code:
          type: string
          description: Stable machine-readable code (e.g. `evidence_truncated`, `video_check_missing_evidence_ids`).
          example: evidence_truncated
        message:
          type: string
          description: Human-readable explanation.
        severity:
          type: string
          enum: [info, warning, error]
        evidenceIds:
          type: array
          items:
            type: string

    VideoWebhookSecretResponse:
      type: object
      required: [secret, justGenerated, createdAt]
      properties:
        secret:
          type: string
          description: HMAC signing secret. Format `whsec_<48 lowercase hex>`. Store in your secret manager — this is the only surface that returns it.
          pattern: '^whsec_[0-9a-f]{48}$'
          example: whsec_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6
        justGenerated:
          type: boolean
          description: True on the first-ever call for this tenant. False on every subsequent read.
        createdAt:
          type: string
          format: date-time

    VideoWebhookSecretRotateResponse:
      type: object
      required: [secret, rotatedAt, previousSecretExisted]
      properties:
        secret:
          type: string
          description: The NEW signing secret. The old one is invalidated for any future jobs (in-flight deliveries keep using their pre-stored signature).
          pattern: '^whsec_[0-9a-f]{48}$'
        rotatedAt:
          type: string
          format: date-time
        previousSecretExisted:
          type: boolean
          description: False on first-ever rotation (functionally identical to auto-create on first GET).

    IdempotencyConflictResponse:
      type: object
      description: |
        Returned by `POST /compliance/check-video` 409 when the same
        `requestId` is reused with different inputs. The conflicting field
        is reported in `reason`; precedence is `blobPath` → `feature` → `inputHash`.
      required: [error, code, reason]
      properties:
        error:
          type: boolean
          example: true
        code:
          type: string
          enum: [idempotency_conflict]
        reason:
          type: string
          enum: [blobPath, feature, inputHash]
          description: Which field differed between the existing and incoming request.
        existing:
          type: string
          description: The value stored on the existing job row.
        incoming:
          type: string
          description: The value submitted in this request.
